{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/aboutUs.css') }}">
{% endblock %}

{% block body %}




<section id="hero">
    <div class="hero-content">
        <h1>Bienvenue chez Ocealys Groupe</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iusto officia molestiae quia corrupti suscipit, qui excepturi ab illo totam repudiandae veniam? Eligendi sequi eius, earum eaque quae tenetur vitae?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod modi eligendi nam! Rerum dolor ab optio tempore dolorum quasi dicta dignissimos, et, deleniti esse quos accusantium. Sit rerum corporis quibusdam.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ratione, laboriosam voluptate dicta cumque incidunt nemo iusto atque, itaque quasi suscipit! Quasi doloribus quis culpa corrupti, aut quibusdam illum officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime obcaecati quas eum dolore voluptatum corporis adipisci in consectetur, ipsum accusantium veniam ea quam est amet aliquid facere repellat beatae. Inventore?</p>
    <br>
        <p></p>
</div>
</section>

<section id="about">
    <div class="container">
        <h2>À propos de nous</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu scelerisque magna, a tempor mi. Nulla facilisi. Praesent feugiat tortor id nisl dictum, eget consequat neque sodales. Sed efficitur, metus eu mattis lobortis, nisl purus euismod nulla, sit amet ultricies neque ante et tellus.</p>
        <p>Quisque id magna ut neque suscipit gravida eget id turpis. Vivamus et neque vel metus maximus viverra nec eu lectus. Fusce non dui vel ex mollis viverra. Morbi et ante sed enim vestibulum commodo sed et purus.</p>
    </div>
</section>

<section id="team">
    <div class="container">
        <h2>Nos objectifs</h2>
        <ul class="objectives-list">
            <li>Partager des connaissances</li>
            <li>Établir notre expertise</li>
            <li>Inspirer et motiver</li>
            <li>Interagir avec une communauté</li>
            <li>Accroître notre visibilité en ligne </li>
            <li>Partager des expériences personnelles</li>
            <li>Promouvoir nos produit ou nos service</li>
            <li>Promouvoir un produit ou un service</li>
            <li>Améliorer vos compétences en écriture</li>
            <li>Fournir un support ou des conseils pratiques</li>


        </ul>
    </div>
</section>


{% endblock %}
