<div class="card mb-4">
    {% if article.imageName %}
    <img src="/images/article/{{ article.imageName }}" alt="card-img-top" style="width: 50px; height:auto;">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('article.show', {'id': article.id}) }}">{{ article.title }}</a>

        </h5>
        <p class="card-text">{{ article.content }}</p>
    </div>
</div>
